[user]
    signingkey = 99A857134AECF0EE
    email = emersonbelancieri@gmail.com
    name = Emerson Belancieri

[alias]
    # Tree Log (Selected Branches)
    tree-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)[%G?]%C(reset) %C(bold yellow)%an%C(reset) %C(bold green)[%ar]%C(reset) %C(white)%s%C(reset) %C(auto)%d%C(reset)'
    trs = !git tree-specific

    # Tree Log (All Branches)
    tree = !git tree-specific --all
    tr = !git tree

[commit]
    gpgsign = true

[diff]
	tool = meld

[difftool]
	prompt = false
